@PBLUE = '#c3fdfa'; 

td { 
	background-color: #000080;
	text-decoration: none;
}

td:hover {
	background-color: #0000FF;

}
table {
	border-collapse: collapse;
}

a {
	color:inherit;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

body {
	margin:0px;
	font-family: 'Tahoma', sans-serif;
}

.header {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #c3fdfa;
}
.headerbtns {
	background-color:#00ff00;
	/* width:400px; */
	margin: auto;
	text-align: center;
}
.headerbtn {
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
	background-color:#ff0000;
	text-align: center;	
	display: inline-block;
}

.middle {
	background-color: #ffff00;
	min-height: 500px;
}

.everything {
	background-color: #0000ff;
	max-width: 800px;
	margin: auto;
}

.keybox {
	
}

.warningbox {
	font-size: 10px;
	color: red;
}

.paramV {
	display: inline-block;
}


pre { margin: 0; 
}
#horse {
width: 380px; margin: 0 auto 0 auto; }
}
