<p>
	Click <b>Show My Public Key</b> to display a QR code representing your public key<br />
	Click <b>List My Keys</b> to display all public keys you have in your GPG database<br />
	Click <b>Password Booster</b> for some helpful tools for strenghthening your passwords<br />
</p><hr style="border-color: #C0C0C0"/>
<div style="padding-right: 150px; padding-left: 150px"><table style="border-collapse: separate; border-spacing: 5px 5px;"><tr><td>	<p>
	Computer security is always a big issue. Man in the middle attacks are difficult to stop. You're never really sure who to trust. You want to have encrypted communication using PGP but in order to do so you need to exchange public keys. But there is always a chance someone is snooping, HTTPS is unsafe, public PGP key servers are unsafe. The safest way to exchange public keys is to do it in person. However, writing down the entire public key or typing in the public key is a pain. It takes long, is error prone, and not very feasible if you want to give it to a lot of people. So, we've created a way to make that process faster, easier, and still safe.

To the right is an image of a key signing party where participants are exchanging public keys with each other in person.</td><td>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/FOSDEM_2008_Key_signing_party.jpg/220px-FOSDEM_2008_Key_signing_party.jpg" />
</p></td></tr></table></div>

