
<pre id="segment">	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  
	       | | | |             || |  </pre>

<a href="legs.html"></a>